* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: #171f26;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 10px 10px 0 0;
    float: right;
}
.mapboxgl-canvas{
    width: 100% !important;
}

.mapboxgl-ctrl-geocoder--input {
    height: 30px;
    padding: 6px 35px;
}

.mapboxgl-ctrl-geocoder--icon-search {
    top: 4px;
}

button{
    outline: none;
    border: none;
    background: none;
    color: aliceblue;
}
#searchSubmit{
    padding-top: 8px;
}
button:hover{
    cursor: pointer;
}
#header{
    width: 95vw;
    margin: auto;
    height: 18vh;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    background-color: #1e0f0f;
    opacity: .7;
    color: #4fb286;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}
#time{
    margin-top: .15rem;
    margin-bottom: .15rem;
    align-self: center;
}
#currentAddress{
    margin-top: .15rem;
    margin-bottom: .15rem;
    align-self: center;
    width: 20%;
}
#darkLight{
    height: 25%;
    font-size: 18px;
    margin-bottom: .15rem;
}
.headerItem{
    margin: .35rem;
}
#weatherArea{
    width: 90vw;
    height: 38vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: scroll;
    overflow-x: hidden;
    margin: auto;
    flex-wrap: wrap;
}
#weatherArea::-webkit-scrollbar-track{
    background: #7b7272;
}
#weatherArea::-webkit-scrollbar{
    width: .25em;
}
#weatherArea::-webkit-scrollbar-thumb{
    background: #242222;
}
#map{
    width: 95%;
    height: 30vh;
    margin: auto;
    opacity: .93;
}
#mapAndCurr{
    display: flex;
    height: 40vh;
}
#currWeatherArea{
    display: none;
}
.weatherCard{
    width: 80%;
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    align-items: center;
    background-color: #1e0f0f;
    opacity: .7;
    border-radius: 5px;
}
.weatherCardCopy{
    width: 80%;
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    align-items: center;
    background-color: #1e0f0f;
    opacity: .7;
    border-radius: 5px;
}

#singleWeatherCard{
    width: 100%;
    height: 98%;
    font-size: 18px;
}

select{
    width: 80%;
    height: 20%;
    background: #343333;
    color: aliceblue;
    outline: none;
    background: none;
    border: none;
}

.inputContainer{
    width: 80%;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.inputContainer input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    padding-top: 32px;
    outline: none;
    color: white;
}
.inputContainer label{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.inputContainer label::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #0956c1;
    left: 0;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.labelContent{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}
.inputContainer input:focus + .labels .labelContent, .inputContainer input:valid + .labels .labelContent{
    transform: translateY(-80%);
    color: #658fce;
}
.inputContainer input:focus + .labels::after, .inputContainer input:valid + .labels::after{
    transform: translateX(0%);
}

.flip-card {
    width: 100%;
    height: 350px;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 350px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card-front, .flip-card-back {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: -17px 14px 8px 0 rgba(0,0,0,0.2);
}
.flip-card-front {
    height: 350px;
    width: 100%;
}
.flip-card-back {
    height: 350px;
    width: 100%;
    transform: rotateY(180deg);
}
.flip{
    transform: rotateY(180deg);
}

@media screen and (min-width: 768px){
    .weatherCard{
        width: 28%;
    }
    #mainInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 60%;
        height: 100%;
    }
    #currWeatherArea{
        display: flex;
        width: 50vw;
        justify-content: center;
        align-items: center;
    }
    #map{
        width: 40vw;
    }
    #header{
        flex-direction: row;
        align-items: revert;
        height: 7vh;
    }
    #singleCurrCard{
        width: 90%;
        color: white;
        border: none;
        background: none;
        flex-direction: row;
    }
    #extraInfo{
        width: 40%;
    }
    select{
        width: 22%;
        height: 32%;
    }
    .headerItem{
        margin: 1.1rem;
    }
    .inputContainer{
        width: 30%;
    }
    #searchSubmit{
        padding-top: 18px;
    }
    #weatherDisplay{
        align-self: center;
    }
}
@media screen and (min-width: 1399px) {
    body{
        font-size: 16px;
    }
    .weatherCard{
        width: 13%;
    }
    #weatherArea{
        overflow: hidden;
    }
}